.ptu-title__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem;
}

.ptu-title__logo-header {
  display: contents;
}

.ptu-title__logo {
  width: 80px;
  height: 80px;
}

.ptu-title__collage-name {
  font-size: 1.5rem;
}

.ptu-title__collage-name :not(.ptu-title__first-letter) {
  display: none;
}

.ptu-title__toggle-btn-container {
  width: 80px;
  text-align: center;
}

.ptu-title__toggle-btn {
  font-size: 1.4rem;
  padding: 0.1em;
  line-height: 0;
  display: inline-block;
}

.ptu-title__search-input {
  display: none;
}

@media only screen and (min-width: 500px) {
  .ptu-title__logo {
    width: 90px;
    height: 90px;
  }
}

@media only screen and (min-width: 800px) {
  .ptu-title__container {
    justify-content: space-between;
    width: 100%;
  }

  .ptu-title__first-letter {
    font-family: "Linden Hill", serif;
  }

  .ptu-title__first-letter + span {
    display: inline-block;
    margin-right: 0.5em;
  }

  .ptu-title__collage-name {
    margin-left: 0.5em;
    width: 100%;
  }

  .ptu-title__collage-name :not(.ptu-title__first-letter) {
    display: initial;
    font-size: 1.2rem;
  }

  .ptu-title__toggle-btn-container {
    display: none;
  }

  .ptu-title__search-input {
    display: block;
  }
}
