.quick-links__container {
  background-color: rgb(196, 13, 13);
  color: #fff;
  white-space: nowrap;
  overflow-x: auto;
  text-align: right;
  padding: 1rem;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.quick-links__container::-webkit-scrollbar {
  display: none;
}

.quick-links__link {
  font-size: 15px;
  color: #fff;
  padding: 5px 10px;
  text-decoration: none;
}

.quick-links__seperator {
  display: inline-flex;
  align-items: center;
}
